<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dyf.dyfkotlindemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DemoActivity" />

        <service
            android:name=".ipcdemo.socket.TCPServerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".ipcdemo.socket.TCPClientActivity" />
        <activity android:name=".UActivity" />
        <activity android:name=".MyTestActivity" />
        <activity android:name=".DragViewActivity" />
        <activity android:name=".CloclActivity" />
        <activity android:name=".NestedActivity" />
        <activity android:name=".ImageCycleActivity" />
        <activity android:name=".RecyleActivity" />
        <activity android:name=".DataActivity" />
        <activity android:name="com.dyf.coolweather.android.MainActivity" />
        <activity android:name="com.dyf.coolweather.android.WeatherActivity" />
        <activity android:name=".wallpaper.MainActivity" />
        <activity android:name=".audio.MainActivity" />
        <activity android:name=".bluetooth.BlueActivity" />
        <activity android:name=".bluetooth.blue.BlueActivity" />
        <activity android:name=".nohttp.MainActivity" />
        <activity android:name=".saolei.MainActivity" />
        <activity android:name=".saolei.PaiHangActivity" />

        <service
            android:name="com.dyf.coolweather.android.service.AutoUpdateService"
            android:enabled="true"
            android:exported="true"></service>


        <!-- 配置 实时壁纸 service -->
        <service
            android:label="@string/app_name"
            android:name=".service.CameraLiveWallpaper"
            android:permission="android.permission.BIND_WALLPAPER"
            >
            <!--为实时壁纸配置intent filter -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为实时壁纸配置meta data -->
            <meta-data android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper"/>
        </service>
        <service android:name=".bluetooth.blue.BluetoothService" />

    </application>

</manifest>